html {
    font-family: 'Concert One', cursive;
}

body > header {
    display: flex;
    justify-content: center;
}

body > header > h1 {
    color: rgba(0, 0, 0, 0.7);
    border: solid 4px black;
    border-radius: 4px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    padding: 10px; 
}

/* Container Groups */

.row-container {
    display: flex;
    justify-content: space-evenly;
}

.box-container {
    display: flex;
    flex-direction: column;
}

.box-container h2 {
    text-align: center;
}

.color-box {
    width: 300px;
    height: 50px;
    margin: 1em;
    border-radius: 3px;
}

.color-box > h2 {
    text-align: center;
    margin: auto;
    color: black;
    transition: 500ms;
}

.color-box:hover > h2 {
    color: white;
    cursor: pointer;
}

/* Red Groups */

#red {
    background: red;
}

#red:hover #red-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#red:hover #red-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#red-info-1 {
    background: red;
    display: none;
    margin: 20px 100px 0 0;
}

#red-info-2 {
    background: red;
    display: none;
    margin: 0;
}

#lightsalmon {
    background: lightsalmon;
}

#lightsalmon:hover #lightsalmon-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#lightsalmon:hover #lightsalmon-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#lightsalmon-info-1 {
    background: lightsalmon;
    display: none;
    margin: 20px 100px 0 0;
}

#lightsalmon-info-2 {
    background: lightsalmon;
    display: none;
    margin: 0;
}

#salmon {
    background: salmon;
}

#salmon:hover #salmon-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#salmon:hover #salmon-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#salmon-info-1 {
    background: salmon;
    display: none;
    margin: 20px 100px 0 0;
}

#salmon-info-2 {
    background: salmon;
    display: none;
    margin: 0;
}

#darksalmon {
    background: darksalmon;
}

#darksalmon:hover #darksalmon-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}   

#darksalmon:hover #darksalmon-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#darksalmon-info-1 {
    background: darksalmon;
    display: none;
    margin: 20px 100px 0 0;
}

#darksalmon-info-2 {
    background: darksalmon;
    display: none;
    margin: 0;
}

#lightcoral {
    background: lightcoral;
}

#lightcoral:hover #lightcoral-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#lightcoral:hover #lightcoral-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#lightcoral-info-1 {
    background: lightcoral;
    display: none;
    margin: 20px 100px 0 0;
}

#lightcoral-info-2 {
    background: lightcoral;
    display: none;
    margin: 0;
}

#indianred {
    background: indianred;
}

#indianred:hover #indianred-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#indianred:hover #indianred-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#indianred-info-1 {
    background: indianred;
    display: none;
    margin: 20px 100px 0 0;
}

#indianred-info-2 {
    background: indianred;
    display: none;
    margin: 0;
}

#crimson {
    background: crimson;
}

#crimson:hover #crimson-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#crimson:hover #crimson-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#crimson-info-1 {
    background: crimson;
    display: none;
    margin: 20px 100px 0 0;
}

#crimson-info-2 {
    background: crimson;
    display: none;
    margin: 0;
}

#firebrick {
    background: firebrick;
}

#firebrick:hover #firebrick-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#firebrick:hover #firebrick-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#firebrick-info-1 {
    background: firebrick;
    display: none;
    margin: 20px 100px 0 0;
}

#firebrick-info-2 {
    background: firebrick;
    display: none;
    margin: 0;
}

#darkred {
    background: darkred;
}

#darkred:hover #darkred-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#darkred:hover #darkred-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#darkred-info-1 {
    background: darkred;
    display: none;
    margin: 20px 100px 0 0;
}

#darkred-info-2 {
    background: darkred;
    display: none;
    margin: 0;
}

/* Green Groups */

#green {
    background: green;
}

#green:hover #green-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#green:hover #green-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#green-info-1 {
    background: green;
    display: none;
    margin: 20px 100px 0 0;
}

#green-info-2 {
    background: green;
    display: none;
    margin: 0;
}

#darkgreen {
    background: darkgreen;
}

#darkgreen:hover #darkgreen-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#darkgreen:hover #darkgreen-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#darkgreen-info-1 {
    background: darkgreen;
    display: none;
    margin: 20px 100px 0 0;
}

#darkgreen-info-2 {
    background: darkgreen;
    display: none;
    margin: 0;
}

/* Blue Groups */

#blue {
    background: blue;
}

#blue:hover #blue-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#blue:hover #blue-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#blue-info-1 {
    background: blue;
    display: none;
    margin: 20px 100px 0 0;
}

#blue-info-2 {
    background: blue;
    display: none;
    margin: 0;
}

#cadetblue {
    background: cadetblue;
}

#cadetblue:hover #cadetblue-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#cadetblue:hover #cadetblue-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#cadetblue-info-1 {
    background: cadetblue;
    display: none;
    margin: 20px 100px 0 0;
}

#cadetblue-info-2 {
    background: cadetblue;
    display: none;
    margin: 0;
}

#steelblue {
    background: steelblue;
}

#steelblue:hover #steelblue-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#steelblue:hover #steelblue-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#steelblue-info-1 {
    background: steelblue;
    display: none;
    margin: 20px 100px 0 0;
}   

#steelblue-info-2 {
    background: steelblue;
    display: none;
    margin: 0;
}

#lightsteelblue {
    background: lightsteelblue;
}

#lightsteelblue:hover #lightsteelblue-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#lightsteelblue:hover #lightsteelblue-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#lightsteelblue-info-1 {
    background: lightsteelblue;
    display: none;
    margin: 20px 100px 0 0;
}

#lightsteelblue-info-2 {
    background: lightsteelblue;
    display: none;
    margin: 0;
}

#lightblue {
    background: lightblue;
}

#lightblue:hover #lightblue-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#lightblue:hover #lightblue-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#lightblue-info-1 {
    background: lightblue;
    display: none;
    margin: 20px 100px 0 0;
}

#lightblue-info-2 {
    background: lightblue;
    display: none;
    margin: 0;
}   

#mediumblue {
    background: mediumblue;
}

#mediumblue:hover #medblue-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#mediumblue:hover #medblue-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#medblue-info-1 {
    background: mediumblue;
    display: none;
    margin: 20px 100px 0 0;
}

#medblue-info-2 {
    background: mediumblue;
    display: none;
    margin: 0;
}

#darkblue {
    background: darkblue;
}

#darkblue:hover #darkblue-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#darkblue:hover #darkblue-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#darkblue-info-1 {
    background: darkblue;
    display: none;
    margin: 20px 100px 0 0;
}

#darkblue-info-2 {
    background: darkblue;
    display: none;
    margin: 0;
}

#navy {
    background: navy;
}

#navy:hover #navy-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#navy:hover #navy-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#navy-info-1 {
    background: navy;
    display: none;
    margin: 20px 100px 0 0;
}

#navy-info-2 {
    background: navy;
    display: none;
    margin: 0;
}

#midnightblue {
    background: midnightblue;
}

#midnightblue:hover #midnightblue-info-1 {
    display: block;
    position: relative;
    z-index: 99;
}

#midnightblue:hover #midnightblue-info-2 {
    display: block;
    position: relative;
    z-index: 99;
}

#midnightblue-info-1 {
    background: midnightblue;
    display: none;
    margin: 20px 100px 0 0;
}

#midnightblue-info-2 {
    background: midnightblue;
    display: none;
    margin: 0;
}